In [43]:
import pandas as pd
from io import StringIO
import re

for_pd = StringIO()
with open('prize_dataset/movie_titles.csv') as movie_titles:
    for line in movie_titles:
        new_line = re.sub(r',', '|', line.rstrip(), count=2)
        print (new_line, file=for_pd)

for_pd.seek(0)

df = pd.read_csv(for_pd, sep='|', header=None, names=['MovieID', 'Year', 'Name'])
df

# load the movie_titles.csv file into a pandas dataframe
# df = pd.read_csv('prize_dataset/movie_titles.csv', encoding="ISO-8859-1", usecols=range(3), header=None, names=['MovieID', 'Year', 'Name'])

# print(df)

       MovieID    Year                                               Name
0            1  2003.0                                    Dinosaur Planet
1            2  2004.0                         Isle of Man TT 2004 Review
2            3  1997.0                                          Character
3            4  1994.0                       Paula Abdul's Get Up & Dance
4            5  2004.0                           The Rise and Fall of ECW
...        ...     ...                                                ...
17765    17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766    17767  2004.0                  Fidel Castro: American Experience
17767    17768  2000.0                                              Epoch
17768    17769  2003.0                                        The Company
17769    17770  2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [40]:
import glob
import json
data = glob.glob('IMDB_data/data/*.json')
for file in data:
    file_name = os.path.basename(file).split('_')[0].replace("|", "/")
    print(file_name)
    with open(file, 'r') as f:
        json_data = json.load(f)
        imdbID = json_data['url']
        try:
            aggregateAvgRating = json_data['aggregateRating']['ratingValue']
        except:
            aggregateAvgRating = 0

        try:
            director = json_data['director'][0]['name']
        except:
            director = ''
        
        try:
            genre = ', '.join(json_data['genre'])
        except:
            genre = ''

        try:
            keywords = json_data['keywords']
        except:
            keywords = ''

        print(director)
            

        
        df.loc[df['Name'].str.split(',').str[0] == file_name, ['imdbID', 'AggregateAverageRating', 'Director', 'Genre', 'Keywords']] = [imdbID, aggregateAvgRating, director, genre, keywords]
        # df.loc[df['Name'].str.split(',').str[0] == file_name, 'imdbYear'] = year

Whisper Kill
Christian I. Nyby II
This Divided State
Steven Greenstreet
Under Siege 2: Dark Territory
Geoff Murphy
3 Walls
Nagesh Kukunoor
Heart
S.K. Nagendra Urs

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (5,) + inhomogeneous part.

In [30]:
print(df)
df.drop('imdbYear', axis=1)

       MovieID    Year                                               Name  \
0            1  2003.0                                    Dinosaur Planet
1            2  2004.0                         Isle of Man TT 2004 Review
2            3  1997.0                                          Character
3            4  1994.0                       Paula Abdul's Get Up & Dance
4            5  2004.0                           The Rise and Fall of ECW
...        ...     ...                                                ...
17765    17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766    17767  2004.0                  Fidel Castro: American Experience
17767    17768  2000.0                                              Epoch
17768    17769  2003.0                                        The Company
17769    17770  2003.0                                       Alien Hunter

                  imdbID imdbYear  AggregateAverageRating         Director
0      /title/tt0389605/      NaN                     7.7
1                    NaN      NaN                     NaN              NaN
2      /title/tt0119448/      NaN                     7.7    Mike van Diem
3      /title/tt0277226/      NaN                     0.0  Jonathan Dayton
4      /title/tt0440751/      NaN                     0.0       Kevin Dunn
...                  ...      ...                     ...              ...
17765                NaN      NaN                     NaN              NaN
17766                NaN      NaN                     NaN              NaN
17767  /title/tt0282466/      NaN                     7.2      Vincent Lee
17768  /title/tt0335013/      NaN                     6.2    Robert Altman
17769  /title/tt0327409/      NaN                     5.1       Ron Krauss

[17770 rows x 7 columns]

,MovieID,Year,Name,imdbID,AggregateAverageRating,Director
0,1,2003.0,Dinosaur Planet,/title/tt0389605/,7.7,
1,2,2004.0,Isle of Man TT 2004 Review,NaN,NaN,NaN
2,3,1997.0,Character,/title/tt0119448/,7.7,Mike van Diem
3,4,1994.0,Paula Abdul's Get Up & Dance,/title/tt0277226/,0.0,Jonathan Dayton
4,5,2004.0,The Rise and Fall of ECW,/title/tt0440751/,0.0,Kevin Dunn
...,...,...,...,...,...,...
17765,17766,2002.0,Where the Wild Things Are and Other Maurice Se...,NaN,NaN,NaN
17766,17767,2004.0,Fidel Castro: American Experience,NaN,NaN,NaN
17767,17768,2000.0,Epoch,/title/tt0282466/,7.2,Vincent Lee
17768,17769,2003.0,The Company,/title/tt0335013/,6.2,Robert Altman
17769,17770,2003.0,Alien Hunter,/title/tt0327409/,5.1,Ron Krauss